<div class="article-rw" *ngIf="article">
  <div *ngIf="!isWrite">
    <button mat-button *ngIf="cache['jwtToken']" (click)="handleEdit()">编辑</button>
    <article>
      <h1>{{ article.title }}</h1>
      <p>{{ category }}</p>
      <time>{{ article.modified }}</time>
      <p>{{ article.abstract }}</p>
      <markdown>
        {{ article.body }}
      </markdown>
      <p>{{ article.reference }}</p>
    </article>
  </div>  
  <div *ngIf="isWrite">
      <button mat-button (click)="handlePut()">保存</button>
      <button mat-button (click)="handleRead()">取消</button>
    <form class="example-form">
      <mat-form-field class="text">
        <input matInput placeholder="title" [(ngModel)]="article.title" name="title">
      </mat-form-field>
      <mat-form-field class="text">
        <mat-select placeholder="category" [(value)]="article.category" name="category">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="textarea">
        <textarea  matInput placeholder="abstract" [(ngModel)]="article.abstract" name="abstract"></textarea>
      </mat-form-field>
      <mat-form-field class="textarea">
        <textarea matInput placeholder="reference" [(ngModel)]="article.reference" name="reference"></textarea>
      </mat-form-field>
      <md-editor
        name="Content"  
        [(ngModel)]="article.body" 
        [height]="'700px'" 
        [mode]="mode" 
        [options]="options" 
        required 
        maxlength="99999">
      </md-editor>
    </form>
  </div>
</div>