header
  width: 100%
  position: fixed
  top: 0
  background-color: #1C2327
  color: #fff
  nav
    width: 1200px
    margin: 0 auto
    ul
      margin: 10px 0
      padding: 0
      display: flex
      li
        list-style: none
        button
          font-size: 1rem 
