<div class="container">
  <app-filter [filters]="filters" [name]="filterName" (filterSelect)="changeFilter($event)"></app-filter>
  <app-order [orders]="orders" (orderSelect)="changeOrder($event)"></app-order>
  <app-add-button [routerPath]="routerPath"></app-add-button>
  <div class="articles">
    <app-article-detail 
      *ngFor="let article of articles" 
      [article]="article"
      [categories]="categories">
    </app-article-detail>
  </div>

  <mat-paginator 
    [length]="articleShowService.articlesFilter.length"
    [pageSize]="articleShowService.pageSize['_value']"
    [pageIndex]="articleShowService.pageIndex['_value']"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</div>