div
  display flex
  flex-wrap: wrap
  section
    flex: 1 1 500px
    margin 10px
    
a
  color: rgba(10,10,10,.8)
dl
  dt
    display inline
  dd
    display inline
    margin 0 0 0 .3em
    font-weight bold
    &+dt::before
      content '\A'
      white-space pre
    &+dd:before
      content ','

[grass]
  background #CFFCF3

[wavepoint]
  background #E5EBD0
  &::before
    background radial-gradient(rgba(250,250,250,.9) 30%, transparent 0), radial-gradient(rgba(250,250,250,.9) 30%, transparent 0)
    background-size 2em 2em, 2em 2em
    background-position 0 0, 1em 1em
    z-index -1
[chessboard]
  background #F5D6F5
  &::before
    z-index: -1
[bevel]
  background #F6DE80
  background-image linear-gradient(-45deg, #f7f7f7 25px, transparent 0)
  box-shadow -5px -5px 5px -5px black