<div>
  <section grass>
    <dl>
      <h1 air>Who am I?</h1>
      <dt>name:</dt>
      <dd>周飞宇</dd>
      <dt>school:</dt>
      <dd>中国计量大学</dd>
      <dt>speciality:</dt>
      <dd>财务管理</dd>
      <dt>E-mail:</dt>
      <dd>hellozfy15@163.com</dd>
      <dt>phone:</dt>
      <dd>18158512843</dd>
    </dl>
  </section>

  <section bevel>
    <h1>Skill</h1>
    <ol>
      <li>了解的前端语言: HTML, CSS, JavaScript</li>
      <li>了解的框架: Vue及Vuex, VueRouter, Angular</li>
      <li>了解的其他库: Rxjs</li>
      <li>了解的CSS预处理器: Stylus</li>
      <li>了解Git</li>
      <li>了解的后端语言: Python</li>
      <li>github: <a href="https://github.com/flycsqaq">flycsqaq</a></li>
    </ol>
  </section>
  
  <section wavepoint>
    <h1>Project experience</h1>
    <ol>
      <li>
        <h2>程序员面试题(Vue+Flask)</h2>
          <ol>
            <li>
              <h3>修改BUG</h3>
              <ol>
                <li>
                  form表单中只有一个input时，按回车键后表单自动提交: prevent阻止原始事件。
                </li>
                <li>
                  自动保存: 每次按下(上)一题向后端发送post请求。
                </li>
                <li>……</li>
              </ol>
            </li>
            <li>
              <h3>增加出题页面(element-ui)</h3>
              <ol>
                <li>
                  Table + Pagination 分页
                </li>
                <li>
                  v-html渲染
                </li>
              </ol>
            </li>
          </ol>
      </li>
      <li>
        <h2>Nas(Vue)</h2>
        <ol>
          <li>
            <h3>无数据下的界面开发</h3>
            <p>根据UI进行前端界面开发，主要使用elemennt-ui</p>
          </li>
          <li>
            <h3>后端对接</h3>
            <p>因第一次接触这种业务，与后端的对接显得有些难度。</p>
            <p>解决方式: 双方使用markdown文本沟通，定时记录解决问题并记录。</p>
          </li>
        </ol>
        <li>
          <h2>其他:</h2>
          <p>个人博客(Angular)
          </p>
      </li>
    </ol>
  </section>

  <section chessboard>
    <h1>Why and how to study</h1>
    <ol>
      <li>
        <h2>第一阶段(18.6-18.9): 迷茫下的自学</h2>
        <p>18年5月13日（大三下）参加完初级会计考试之后,意识到财务的很多方面都可以自动化（半自动化）处理,
          开始正式学习第一门编程语言:python。在这个阶段，主要是对编程的概念有了些轮廓。</p>
      </li>
      <li>
        <h2>第二阶段(18.9-18.12): 前端自学</h2>
        <p>因《python编程：从入门到实践》的最后一章讲的是Django，在学习Django的同时，对前端产生了一定的兴趣。
          学习了HTML与CSS之后，又学习了JS与Vue，之后就是开始寻找实习。
        </p>
      </li>
      <li>
        <h2>第三阶段(18.12-19.2): 前端实习</h2>
        <p>从开始投简历，到实习，间隔了3个星期，在谷神星的前端实习，大多是用element-ui编写界面以及与后端交互。在这个阶段，
          学习了git的使用，团队的协作以及与后端/UI的沟通。同时，加深了对js的理解，学习了es6。
        </p>
      </li>
      <li>
        <h2>第四阶段(19.2-19.3): 前端小结</h2>
        <p>
          年后，因导师的催促，辞去了这一份实习，回校开始论文撰写。在这个阶段，又学习了Angular。3月，对之前的自学做了阶段性的总结。
          同时，阅读了卢梭的《论人类不平等的起源与基础》以及笛卡尔的《谈谈方法》。意识到，所谓的编程思想以及设计模式等大多是对哲学问题的
          实例化，其发展过程也映射了人类的历史。
        </p>
        <a href="https://github.com/flycsqaq/My-Summry/">总结</a>
      </li>
      <li>
        <h2>其他</h2>
        <p>
          <a href="https://github.com/flycsqaq/My-Summry/blob/master/others/attitude.md">对行业、工作等看法</a>
        </p>
      </li>
    </ol>
  </section>
</div>