size = 1rem
form
  button
    margin: 0 10px 0 10px
section
  font-size: size
  color: 	#00001a
  cursor: pointer
  transition: all 0.3s linear
  background #F7F7F7 !important
  &>*
    padding: 5px
  h1
    font-size: 1.25em
    display: inline-block
    margin: 0
    text-shadow: 2px 2px 2px #000033 
    transform: rotate(1deg)
  &:hover
    font-size: 1.2 * size
    box-shadow: 5px 5px 5px -5px black
    color: #001a00
    transition: all 0.3s linear
    background: linear-gradient(-45deg, #FFDAB9 25px, transparent 0) !important

