size = 1rem
form
  button
    margin: 0 10px 0 10px
section
  font-size: size
  color: 	#00001a
  cursor: pointer
  transition: all 0.3s linear
  &>*
    padding: 5px
  h1
    font-size: 1.25em
    display: inline-block
    margin: 0
    text-shadow: 2px 2px 2px #000033
    transform: rotate(1deg)
  &:hover
    font-size: 1.2 * size
    box-shadow: 3px 3px 3px
    color: #001a00
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.3s linear
