section
  background-color: #E9EAF0
  padding: 10px
  img
    width: 120px
    height: 120px
    margin-top: 20px
    float: left
  .article
    margin-left: 150px
    h1
      display: inline-block
      cursor: pointer
      &:hover
        color: #111
    .category
      display: inline-block
      margin-left: 20px
      font-size: 1.2rem
    time
      float: right