w = 400px
h = 200px
.blog-recently
  min-height: h
  background-color: blue
.read-recently
  min-height: h
  background-color: green

section
  margin-right: w

.plan-recently
  width: w
  min-height: 2* h
  float: right
  background-color: gray