w = 400px
h = 200px
.container 
  .blog-recently
    min-height: h
  .read-recently
    margin-top: 20px
    min-height: h

  section
    margin-right: w

  .plan-recently
    width: w
    min-height: 2* h
    float: right