w = 400px
h = 200px
.home 
  width: 1200px
  margin: auto
  padding: 10px
  .blog-recently
    min-height: h
  .read-recently
    min-height: h

  section
    margin-right: w

  .plan-recently
    width: w
    min-height: 2* h
    float: right