/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body, .mat-paginator
  background-color: #E9EAED
  color: #222
.btn-group
  display: inline-block
.text
  margin: 0 20px 0 0

.textarea
  display: block !important