<div class="container">
  <form [formGroup]="bookForm">
    <mat-form-field class="text">
      <input matInput placeholder="name" formControlName="name">
    </mat-form-field>
    <mat-form-field class="text">
      <input matInput type="number" placeholder="page_total" formControlName="page_total">
    </mat-form-field>
    <mat-form-field class="text">
      <input matInput type="number" placeholder="page_read" formControlName="page_read">
    </mat-form-field>
    <mat-form-field class="text">
      <input matInput [matDatepicker]="start" placeholder="start" formControlName="start">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="text">
      <input matInput [matDatepicker]="anticipated_end" placeholder="anticipated_end" formControlName="anticipated_end">
      <mat-datepicker-toggle matSuffix [for]="anticipated_end"></mat-datepicker-toggle>
      <mat-datepicker #anticipated_end></mat-datepicker>
    </mat-form-field>
    <mat-slide-toggle
    formControlName="isCompleted"
    (change)="change($event)">
        Slide me!
    </mat-slide-toggle>
    <div>
    <button mat-button (click)="post()" [disabled]="!bookForm.valid">上传</button>
    <button mat-button (click)="init()">重置</button>
    <app-go-back-button></app-go-back-button>
    </div>
  </form>
</div>
